@use "variables" as *
@use "base"

.contact
	width: 100vw
	height: 180vh
	box-sizing: border-box
	background-color: var(--dark3)
	display: flex
	align-items: flex-end
	justify-content: center
	padding-bottom: 3rem
	margin-top: -150vh

	address
		font-size: 16vw
		font-style: normal
		color: bisque
		transform: translateY(-300px)
	em
		color: chocolate


@include base.for-size(tablet_lg)
	.contact
		height: 172vh

@include base.for-size(tablet_md)
	.contact
		height: 170vh
		padding-bottom: 0

