@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/custom_font_ext_bold.woff2') format('woff2'),
       url('../fonts/custom_font_ext_bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'default';
    src: url('../fonts/default.woff2') format('woff2'),
         url('../fonts/default.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'default';
    src: url('../fonts/default_bold.woff2') format('woff2'),
         url('../fonts/default_bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
