@use "variables" as *
@use "base"

.areainfo
	position: relative

	.info
		width: 10rem
		height: 3rem
		line-height: 3rem
		font-size: 1.5rem
		background: var(--bright1)
		border-radius: .2rem 1.5rem .2rem 1.5rem
		corner-shape: round bevel round bevel
		position: absolute
		pointer-events: none
		opacity: 0
		transition: opacity .6s $ease
		mix-blend-mode: luminosity
		z-index: 3

	marquee
		width: 100%
		height: 3rem
		font-family: "Manrope", sans-serif
		font-weight: 600
		text-transform: uppercase
		color: var(--dark1)
		letter-spacing: 1.5px

		direction: left
