// color themes
:root
	--dark1: #302e3d
	--dark2: #151925
	--dark3: #5b351a
	--bright1: #d97746
	--neutral_50: #6f6f6f

	--brand: #FE641A
	--neutral_0: #FFFFFF
	--neutral_10: #EDEDED
	--neutral_30: #BDBDBD
	--neutral_90: #16222E
	--opacity_20: rgba(22,34,46,.2)

$brand-red: #FF150A
$brand-yellow: #FEBF0A
$gradient: linear-gradient(25deg, $brand-red, $brand-yellow)

$ease: cubic-bezier(0.5,0,0,1)

// spaces
$y-gap-sm: 0.375rem

// ease
$ease: cubic-bezier(0.6,0,0,1)
